[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
    url = https://github.com/ervandew/supertab
    ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar
    ignore = dirty
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
